html {
    scroll-behavior: smooth;
}

body {
    font-family: Kanit;
    background-color: #151530;
    color: White;
    margin: 0% 25% 0% 25%;;
    font-size: 20px;
    /* font-size: calc(20px + 1.5vw); */

    min-height: 100vh;
    margin-bottom: 10%;
}

a {
    color: White;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.75;
}

p.p-lang-primary {
    background-color: #000791;
}

/* assume secondary */
p.p-lang {
    background-color: #303045;
}

p.p-tool {
    /* background-color: #000791; */
    /* background-color: #2F2F91; */
    background-color: #49496F;
}

.p-ai {
    background-color: #910000;
}

b small {
    font-weight: 300;
    font-size: 14px;
}

header {
    margin: 20px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

header nav {
    border: 0px solid;
}

header nav a {
    gap: 10px;
    margin: 0px 20px;
}

.main-left {
    width: 50%;
}

.main-right {
    width: 50%;
}

hr {
    opacity: 0.5;
}


.links a {
    margin: 0px 30px 0px 0px;
}

.link-button {
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 8px;
}

.tech-stack {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tech-stack a {
    display: flex;
    gap: 5px;
    /* border: 1px solid; */
    align-items: center;
    padding: 0px 15px;
    margin: 15px 0px;
}

.tech-stack a svg {
    width: 48px;
    height: 48px;
}

.work-container {
    /* border: 1px solid; */
    padding: 0px 10px;
}

.work-container p {
    margin-top: 0px;
    
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.project {
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 8px;
}

.project-tech-stack, .project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.project-links .github {
    text-align: center;
    background-color: #F0F0F0;
    color: Black;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
}

.project-links .live-project {
    text-align: center;
    background-color: #f0f0f0;
    color: Black;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
}

.project-tech-stack p {
    /* border: 1px solid; */
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
}

.button-link {
    border: 1px solid;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
}
