.title {
    border-bottom: 1px solid; 
    padding-left: 20px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

article.progs {
    width: 400px;
}

.progs img {
    width: 50%;
}

.title-grid {
    display:flex; 
    justify-content: center;
}

#header {
    border-bottom: 1px solid; 
    margin-bottom: 20px;
    position: sticky;
    background-color: var(--pico-background-color);
    top: 0;
    z-index: 10;
}

article {
    text-align: center;
}

#footer {
    padding: 10%;
    border-top: 1px solid;
}

a.artic {
    color: White; 
    text-decoration: none;
    flex-basis: 20%;    
}