.title {
    border-bottom: 1px solid; 
    padding-left: 20px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

article.progs {
    width: 800px;
}

article.progs_nocert {
    width: 400px;
}

embed {
    height: 440px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

.progs img {
    width: 50%;
}

.title-grid {
    display:flex; 
    justify-content: center;
}

#header {
    border-bottom: 1px solid; 
    margin-bottom: 20px;
    position: sticky;
    background-color: var(--pico-background-color);
    top: 0;
    z-index: 10;
}